/TupleGeo.Apps/bin
/TupleGeo.Apps/obj
TupleGeo.Apps.Presentation/bin
TupleGeo.Apps.Presentation/obj
TupleGeo.General/bin
TupleGeo.General/obj
TupleGeo.General.ComponentModel.Design/bin
TupleGeo.General.ComponentModel.Design/obj
TupleGeo.General.ComponentModel.Design.Tests/bin
TupleGeo.General.ComponentModel.Design.Tests/obj
TupleGeo.General.Tests/bin
TupleGeo.General.Tests/obj
TupleGeo.General.Text.Greek/bin
TupleGeo.General.Text.Greek/obj
TupleGeo.General.Windows.Forms/bin
TupleGeo.General.Windows.Forms/obj
TupleGeo.General.Windows.Presentation/bin
TupleGeo.General.Windows.Presentation/obj
TupleGeo.General.Windows.Presentation.Tests/bin
TupleGeo.General.Windows.Presentation.Tests/obj
TupleGeo.Presentation.Forms/bin
TupleGeo.Presentation.Forms/obj
TupleGeo.Resources/bin
TupleGeo.Resources/obj
TupleGeo.TemplateApplication/bin
TupleGeo.TemplateApplication/obj