<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <applicationSettings>
        <TupleGeo.TemplateApplication.Properties.Settings>
            <setting name="ApplicationConfigFile" serializeAs="String">
                <value>ApplicationConfiguration.config</value>
            </setting>
        </TupleGeo.TemplateApplication.Properties.Settings>
    </applicationSettings>
</configuration>
